@import 'tailwindcss';

@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.2161 0.0061 56.0434);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.2161 0.0061 56.0434);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.2161 0.0061 56.0434);
	--primary: oklch(0.7686 0.1647 70.0804);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.5858 0.222 17.5846);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.9699 0.0013 106.4238);
	--muted-foreground: oklch(0.5534 0.0116 58.0708);
	--accent: oklch(0.9619 0.058 95.6174);
	--accent-foreground: oklch(0.4732 0.1247 46.2007);
	--destructive: oklch(0.6368 0.2078 25.3313);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.9232 0.0026 48.7171);
	--input: oklch(0.9232 0.0026 48.7171);
	--ring: oklch(0.7686 0.1647 70.0804);
	--chart-1: oklch(0.7686 0.1647 70.0804);
	--chart-2: oklch(0.6368 0.2078 25.3313);
	--chart-3: oklch(0.6959 0.1491 162.4796);
	--chart-4: oklch(0.6231 0.188 259.8145);
	--chart-5: oklch(0.6056 0.2189 292.7172);
	--sidebar: oklch(0.9699 0.0013 106.4238);
	--sidebar-foreground: oklch(0.5534 0.0116 58.0708);
	--sidebar-primary: oklch(0.7686 0.1647 70.0804);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.9619 0.058 95.6174);
	--sidebar-accent-foreground: oklch(0.4732 0.1247 46.2007);
	--sidebar-border: oklch(0.9232 0.0026 48.7171);
	--sidebar-ring: oklch(0.7686 0.1647 70.0804);
	--font-sans: var(--font-geist-sans);
	--font-serif: var(--font-source-serif-4);
	--font-mono: var(--font-geist-mono);
	--radius: 0.5rem;
	--shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
	--shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
	--shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.13);
	--tracking-normal: 0rem;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2161 0.0061 56.0434);
	--foreground: oklch(0.9699 0.0013 106.4238);
	--card: oklch(0.2685 0.0063 34.2976);
	--card-foreground: oklch(0.9699 0.0013 106.4238);
	--popover: oklch(0.2685 0.0063 34.2976);
	--popover-foreground: oklch(0.9699 0.0013 106.4238);
	--primary: oklch(0.8369 0.1644 84.4286);
	--primary-foreground: oklch(0.3489 0.0381 78.9982);
	--secondary: oklch(0.5858 0.222 17.5846);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.3741 0.0087 67.5582);
	--muted-foreground: oklch(0.7161 0.0091 56.259);
	--accent: oklch(0.3489 0.0381 78.9982);
	--accent-foreground: oklch(0.8369 0.1644 84.4286);
	--destructive: oklch(0.3958 0.1331 25.723);
	--destructive-foreground: oklch(0.9356 0.0309 17.7172);
	--border: oklch(0.3741 0.0087 67.5582);
	--input: oklch(0.3741 0.0087 67.5582);
	--ring: oklch(0.8369 0.1644 84.4286);
	--chart-1: oklch(0.8369 0.1644 84.4286);
	--chart-2: oklch(0.7106 0.1661 22.2162);
	--chart-3: oklch(0.7729 0.1535 163.2231);
	--chart-4: oklch(0.7137 0.1434 254.624);
	--chart-5: oklch(0.709 0.1592 293.5412);
	--sidebar: oklch(0.2685 0.0063 34.2976);
	--sidebar-foreground: oklch(0.7161 0.0091 56.259);
	--sidebar-primary: oklch(0.8369 0.1644 84.4286);
	--sidebar-primary-foreground: oklch(0.3489 0.0381 78.9982);
	--sidebar-accent: oklch(0.3489 0.0381 78.9982);
	--sidebar-accent-foreground: oklch(0.8369 0.1644 84.4286);
	--sidebar-border: oklch(0.3741 0.0087 67.5582);
	--sidebar-ring: oklch(0.8369 0.1644 84.4286);
	--font-sans: var(--font-geist-sans);
	--font-serif: var(--font-source-serif-4);
	--font-mono: var(--font-geist-mono);
	--radius: 0.5rem;
	--shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
	--shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
	--shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
	--shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
	--shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
	--shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
	--shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);

	/* Main Colors from ShadCN Docs */
	/* --radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring); */
}

body {
	letter-spacing: var(--tracking-normal);
}

/* :root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
} */
